[Desktop Entry]
Version=1.0
Name=Apple Music
Comment=Apple Music
Exec=apple-music
Terminal=false
Type=Application
Icon=apple-music
StartupNotify=true
StartupWMClass=apple-music
